
* {
margin: 0;
padding: 0;
width: 100%;
box-sizing: border-box;
}


html, body {
  height:100%;
  width:100%;
  background: lightblue;
}


.images {
  width:400px;
  height:400px;
  display:inline-block;
}
div {

}

.app div {
  /*display:inline;*/
  /*width: calc(100%/ 3);*/
}

.app canvas {
  width: 75%;
  height: 75%;
}
